<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource.data" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ação</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="openRecipeDialog(row)">Visualizar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.data && dataSource.data.length === 0 ? '' : 'none'">
    Nenhuma receita cadastrada.
    <p></p>
    <a routerLink="/cadastrar">
      <b>
        Clique aqui para cadastrar.
      </b>
    </a>
  </div>

  <mat-paginator
    #paginator
    [pageSizeOptions]="[25, 50, 100, 250]"
    [hidePageSize]="true"
    [disabled]="true"
    [showFirstLastButtons]="false"
  >
  </mat-paginator>
</div>
